html {
    overflow-y: scroll;
}

body {
    color: gray;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 160%;
    background: #333;
}

.container {
    width: 900px;
    margin: auto;
    padding: 10px 0;
}

.clr {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

a {
    -webkit-transition: color 0.25s, background-color 0.25s;
    -moz-transition: color 0.25s,
    background-color 0.25s;
    -o-transition: color 0.25s,
    background-color 0.25s;
    transition: color 0.25s,
    background-color 0.25s;
    color: #29bdca;
    text-decoration: none;
}

p {
    margin-bottom: 20px;
}

/**
 * Typography.
 */

 h1, h2, h3, h4, h5, h6 {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    color: #404040;
    line-height: 1.3em;
    word-wrap: break-word;
}

h1 {
    float: left;
    padding-top: 30px;
    color: #000;
    line-height: 1em;
    font-size: 35px;

    span {
        font-size: 25px;
        color: #F00;
    }
}

h2 { font-size: 31px; }

h3 { font-size: 25px; }

h3.tagline {
    text-align: center;
    margin-bottom: 50px;

    span {
        background: #00A2FF;
        color: #FFF;
        padding: 10px;
    }
}

h4 { font-size: 18px; }

h5 { font-size: 16px; }

h6 { font-size: 14px; }

/**
 * Header.
 */

header {
    background-color: #FFF;
    height: 110px;
    width: 100%;
    -webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 4px 3px -3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #FFF 75%, #F5F5F5 100%);
}

/**
 * Navigation.
 */

nav {
    float: right;
    margin-top: 35px;
    font-size: 16px;

    ul li {
        float: left;
        margin-right: 25px;
        text-transform: lowercase;

        a {
            color: #404040;
            &:hover { color: #29bdca; }
        }
    }
}

/**
 * Content.
 */

#content {
    -webkit-box-shadow: 0 3px 3px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 4px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 50px 0;
    background: #FFF;
    min-height: 400px;
}

/**
 * Footer.
 */

footer {

    #latest-tweets {
        background: #444;
        -webkit-box-shadow: inset 0 4px 3px -3px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: inset 0 4px 3px -3px rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 4px 3px -3px rgba(0, 0, 0, 0.2);

        .container {
            padding: 30px 0;
        }

        #me {
            float: left;
            margin-top: 15px;
        }

        /**
         * Tweets.
         */

        #tweets {
            margin-left: 20px;
            float: left;

            .tweet {
                padding: 15px;
                float: left;
                color: #999;
                margin-left: 20px;
                background: #333 url(/img/tweet.png) no-repeat bottom left;
                background-size: 66px;

                a {
                    color: #BFBFBF;
                    &:hover { color: #29bdca; }
                }

                .message {
                    font-size: 13px;
                    width: 340px;
                    min-height: 60px;
                    margin: 0;
                }

                .meta {
                    text-align: right;
                    font-size: 11px;
                    margin: 0;
                }
            }
        }
    }

    #details {
        font-size: 13px;
        background: #333;
        -webkit-box-shadow: inset 0 4px 3px -3px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: inset 0 4px 3px -3px rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 4px 3px -3px rgba(0, 0, 0, 0.2);

        .container {
            padding: 20px 0 40px 0;
        }

        a {
            color: #BFBFBF;
        }
    }

}