html {
  overflow-y: scroll; }

body {
  color: gray;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  background: #333; }

/**
 * Typography.
 */
a {
  text-decoration: none;
  color: #404040; }
  a:hover {
    color: #29bdca; }

h1, h2, h3, h4, h5, h6 {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  color: #404040;
  line-height: 1em;
  word-wrap: break-word; }

h1 {
  font-size: 35px;
  float: left;
  color: #000; }
  h1 span {
    font-size: 25px;
    color: #F00; }
  h1 a {
    color: #000; }
    h1 a:hover {
      color: #000; }

h2 {
  font-size: 31px; }

h3 {
  font-size: 25px; }
  h3.tagline {
    text-align: center;
    margin: 30px 0;
    line-height: 2em; }
    h3.tagline span {
      background: #00A2FF;
      color: #FFF;
      padding: 10px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

/**
 * Header.
 */
header {
  margin: 0;
  padding: 40px 0 20px 0;
  width: 100%;
  background-color: #FFF;
  background-image: linear-gradient(top, white 75%, whitesmoke 100%);
  background-image: -o-linear-gradient(top, white 75%, whitesmoke 100%);
  background-image: -moz-linear-gradient(top, white 75%, whitesmoke 100%);
  background-image: -webkit-linear-gradient(top, white 75%, whitesmoke 100%);
  background-image: -ms-linear-gradient(top, white 75%, whitesmoke 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.75, white), color-stop(1, whitesmoke));
  -webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2); }

nav {
  font-size: 16px; }
  nav ul {
    text-align: right;
    margin: 15px 0 0 0;
    padding: 0; }
    nav ul li {
      display: inline;
      margin-left: 25px;
      text-transform: lowercase;
      list-style: none; }
      nav ul li:first-child {
        margin-left: 0; }
      nav ul li a {
        color: #404040;
        text-decoration: none; }
        nav ul li a:hover {
          color: #29bdca; }

/**
 * Content.
 */
#content {
  -webkit-box-shadow: 0 3px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 20px 0;
  background: #FFF; }

#content .post {
  padding: 10px 2% 10px 0;
  border-right: 1px dotted #CCC; }
  #content .post h4, #content .post p {
    line-height: 1.4em; }
  #content .post p {
    margin-top: 10px; }
  #content .post:nth-child(3n) {
    border-right: 0;
    padding-right: 0; }

article {
  padding-top: 25px !important;
  padding-bottom: 25px !important; }
  article h2, article h3, article h4, article h5, article h6 {
    line-height: 1.4em;
    margin-bottom: 15px; }
  article p {
    margin-bottom: 30px;
    line-height: 1.8em; }
  article time {
    display: block;
    margin: 20px 0;
    color: #AAA; }
  article .highlight + h3, article .highlight + h4 {
    margin-top: 35px; }
  article ul, article ol {
    margin: 0 0 30px 40px;
    line-height: 1.8em; }
  article figure {
    display: block;
    margin-bottom: 20px;
    text-align: center; }
    article figure img.shadow {
      -moz-box-shadow: 0 0 10px #888;
      -webkit-box-shadow: 0 0 10px #888;
      box-shadow: 0 0 10px #888; }
  article figcaption {
    padding: 10px 0;
    margin-bottom: 15px;
    border-bottom: 1px dotted #CCC;
    display: block;
    text-align: center;
    font-style: italic; }
  @media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    article ul, article ol {
      margin: 0 0 30px 20px; } }

#navigation {
  padding: 20px 30px;
  text-align: right; }
  #navigation a {
    margin-left: 10px; }

/**
 * Footer.
 */
footer a {
  color: #BFBFBF; }
  footer a:hover {
    color: #29bdca; }
footer #latest-tweets {
  background: #444;
  width: 100%;
  -webkit-box-shadow: inset 0 4px 3px -3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 4px 3px -3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 4px 3px -3px rgba(0, 0, 0, 0.2);
  padding: 10px 0 10px 0;
  min-height: 150px; }
  footer #latest-tweets #tweets {
    min-height: 30px;
    margin-bottom: 0 !important; }
    footer #latest-tweets #tweets .tweet {
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 15px;
      color: #999;
      background: #333; }
      footer #latest-tweets #tweets .tweet .msg {
        font-size: 13px;
        min-height: 60px;
        padding-bottom: 10px; }
      footer #latest-tweets #tweets .tweet .meta {
        height: 20px;
        background: url(/assets/img/twitter.png) no-repeat top left;
        text-align: right;
        font-size: 11px;
        line-height: 20px; }
footer #details {
  font-size: 13px;
  background: #333;
  -webkit-box-shadow: inset 0 4px 3px -3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 4px 3px -3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 4px 3px -3px rgba(0, 0, 0, 0.2);
  padding: 20px 0;
  text-align: center;
  width: 100%; }
  footer #details #details-wrapper {
    display: inline-block;
    margin: 0 auto; }
  footer #details #me, footer #details #contact {
    float: left; }
  footer #details #contact {
    list-style: none;
    margin: 10px 0 0 20px; }
    footer #details #contact li {
      line-height: 1.7em; }
      footer #details #contact li span {
        display: inline-block;
        width: 50px; }

/**
 * Responsive.
 */
@media (max-width: 767px) {
  h1, nav ul {
    text-align: center; }

  h3.tagline {
    display: none; }

  .container.row {
    margin: 0; }

  img {
    max-width: 100%; }

  #content .post {
    border-right: 0;
    margin: 0;
    padding: 20px 10px;
    border-bottom: 1px dotted #CCC; }
    #content .post.last {
      border-bottom: 0; } }
/**
 * Disqus.
 */
#disqus_thread {
  border-top: 1px dotted #CCC;
  padding-top: 35px;
  margin-bottom: 25px; }

/**
 * Graphviz.
 */
svg {
  max-width: 100%;
  margin: 20px auto;
  display: block; }
