@font-face {
  font-family: 'MetaRoman';
  src: url('/assets/fonts/meta-bold-webfont.eot');
  src: url('/assets/fonts/meta-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/meta-bold-webfont.woff') format('woff'),
       url('/assets/fonts/meta-bold-webfont.ttf') format('truetype'),
       url('/assets/fonts/meta-bold-webfont.svg#MetaRoman') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaRegular';
  src: url('/assets/fonts/proximanova-regular-webfont.eot');
  src: url('/assets/fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/proximanova-regular-webfont.woff') format('woff'),
       url('/assets/fonts/proximanova-regular-webfont.ttf') format('truetype'),
       url('/assets/fonts/proximanova-regular-webfont.svg#ProximaNovaRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MidoMedium';
  src: url('/assets/fonts/mido-webfont.eot');
  src: url('/assets/fonts/mido-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/mido-webfont.woff') format('woff'),
       url('/assets/fonts/mido-webfont.ttf') format('truetype'),
       url('/assets/fonts/mido-webfont.svg#MidoMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

.clear:before, .clear:after { 
  content: "\0020"; 
  display: block; 
  height: 0; 
  overflow: hidden; 
}
.clear:after { 
  clear: both; 
}
.clear { 
  zoom: 1; 
}

.right {
  float: right;
}

.left {
  float: left;
}

.centre {
  display: block;
  margin: 8px auto;
}

.shadow {
  -moz-box-shadow: 0 0 10px #888;
  -webkit-box-shadow: 0 0 10px #888;
  box-shadow: 0 0 10px #888;
}

::-moz-selection { 
  background: #1F1F1F; 
  color: #FFF; 
  text-shadow: none; 
}
::selection { 
  background: #1F1F1F; 
  color: #FFF; 
  text-shadow: none; 
}

body {
  background: #FFF;
  font-family: 'ProximaNovaRegular', sans-serif;
  color: #4D4D4D;
}

h1, h2, h3 {
  font-weight: 100;
}

h1 {
  width: 120px;
  height: 120px;
  background: url('/assets/img/logo.png') no-repeat;
  color: #000;
  text-indent: -9999px;
  float: right;
}

h2, h3 {
  font-family: 'MetaRoman', sans-serif;
  color: #292929;
}

h2 {
  font-size: 1.8em;
  margin-bottom: 35px;
}

h3 {
  font-size: 1.3em;
  margin-top: 40px;
}

#sidebar {
  width: 265px;
  float: left;
  min-height: 100%;
  position: fixed;
  padding: 150px 35px 0 0;
  border-right: 1px solid #E2E2E2;
}

#content {
  float: left;
  width: 600px;
  margin: 50px 0 50px 360px;
}

nav {
  clear: both;
  float: right;
  margin-top: 30px;
}

nav a {
  margin: 20px 15px 20px 0;
  text-align: right;
  display: block;
  color: #4D4D4D;
}

p, ul, ol {
  line-height: 1.5em;
  margin: 20px 0;
}

ul, ol {
  margin-left: 30px;
}

a {
  color: #00A2FF;
  text-decoration: none;
}

.title span {
  padding-bottom: 5px;
  border-bottom: 1px dotted #CCC;
}

.title.centre {
  text-align: center;
}

#listing {
  list-style: none;
  color: #292929;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

#listing li {
  margin: 20px 0;
  padding: 10px 20px;
}

#listing li a {
  color: #000;
}

#listing li a:hover {
  color: #00A2FF;
}

#listing li:nth-child(odd) {
  background: url('/assets/img/bg.png');
}

.snippet {
  font-family: 'Courier';
  font-size: 0.8em;
  border: 1px solid #DFDFDF;
  background: #EFEFEF;
  padding: 0px;
}

/* header and nav animation */
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
  }
  80% {
    -webkit-transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes bounceInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateY(30px);
  }
  80% {
    -moz-transform: translateY(-10px);
  }
  100% {
    -moz-transform: translateY(0);
  }
}

@-o-keyframes bounceInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -o-transform: translateY(30px);
  }
  80% {
    -o-transform: translateY(-10px);
  }
  100% {
    -o-transform: translateY(0);
  }
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(30px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  -moz-animation-name: bounceInDown;
  -o-animation-name: bounceInDown;
  animation-name: bounceInDown;
}
@-webkit-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(30px);
  }
  80% {
    -webkit-transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(30px);
  }
  80% {
    -moz-transform: translateX(-10px);
  }
  100% {
    -moz-transform: translateX(0);
  }
}

@-o-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -o-transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    -o-transform: translateX(30px);
  }
  80% {
    -o-transform: translateX(-10px);
  }
  100% {
    -o-transform: translateX(0);
  }
}

@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(30px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  -moz-animation-name: bounceInLeft;
  -o-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}

/* ipad */
@media all and (max-width: 1024px)  {
  #sidebar {
    float: none;
    position: static;
    width: 100%;
    padding: 0;
    border-right: 0;
    border-bottom: 1px solid #F2F2F2;
  }

  h1 {
    float: left;
    clear: none;
    margin: -30px 0 -10px 20px;
  }

  nav {
    margin-right: 20px;
    clear: none;
  }

  nav a {
    margin: 20px 10px;
    display: inline;
  }

  #content {
    width: 600px;
    float: none;
    margin: 50px auto;
  }
}

/* iphone */
@media all and (max-width: 480px)  {
  #content {
    margin: 20px auto;
    width: 100%;
    font-size: 0.9em;
  }
  
  #listing {
    font-size: 1.2em;
  }
  
  nav {
    margin-right: 10px;
  }
  
  nav a {
    font-size: 0.9em;
  }

  img {
    max-width: 280px;
  }

  article {
    padding: 20px;
  }

  h1 {
    margin-left: 10px;
  }

  h2 {
    margin: 0;
    padding: 0;
  }

  .twitter {
    display: none;
  }

  .highlight {
    overflow: hidden;
    overflow-x: visible;
  }
}
