html {
    overflow-y: scroll;
}

body {
    color: gray;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
    background: #333;
}

/**
 * Typography.
 */

a {
    text-decoration: none;
    color: #404040;

    &:hover {
        color: #29bdca;
    }
}

h1, h2, h3, h4, h5, h6 {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    color: #404040;
    line-height: 1em;
    word-wrap: break-word;
}

h1 {
    font-size: 35px;
    float: left;
    color: #000;

    span {
        font-size: 25px;
        color: #F00;
    }

    a {
        color: #000;
        &:hover { color: #000; }
    }
}

h2 { font-size: 31px; }

h3 {
    font-size: 25px;

    &.tagline {
        text-align: center;
        margin: 30px 0;
        line-height: 2em;

        span {
            background: #00A2FF;
            color: #FFF;
            padding: 10px;
        }
    }
}

h4 { font-size: 18px; }

h5 { font-size: 16px; }

h6 { font-size: 14px; }

/**
 * Header.
 */

header {
    margin: 0;
    padding: 40px 0 20px 0;
    width: 100%;
    background-color: #FFF;
    background-image: linear-gradient(top, #FFF 75%, #F5F5F5 100%);
    background-image: -o-linear-gradient(top, #FFF 75%, #F5F5F5 100%);
    background-image: -moz-linear-gradient(top, #FFF 75%, #F5F5F5 100%);
    background-image: -webkit-linear-gradient(top, #FFF 75%, #F5F5F5 100%);
    background-image: -ms-linear-gradient(top, #FFF 75%, #F5F5F5 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.75, #FFF), color-stop(1, #F5F5F5));
    -webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
}

nav {
    font-size: 16px;

    ul {
        text-align: right;
        margin: 15px 0 0 0;
        padding: 0;

        li {
            display: inline;
            margin-left: 25px;
            &:first-child { margin-left: 0; }
            text-transform: lowercase;
            list-style: none;

            a {
                color: #404040;
                &:hover { color: #29bdca; }
                text-decoration: none;
            }
        }
    }
}

/**
 * Content.
 */

#content {
    -webkit-box-shadow: 0 3px 2px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 3px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 20px 0;
    background: #FFF;
}

#content .post {
    h4, p { line-height: 1.4em; }
    p { margin-top: 10px; }
    padding: 10px;
    border-right: 1px dotted #CCC;

    &:nth-child(3n) {
        border-right: 0;
        padding-right: 0;
    }
}

article {
    padding-top: 25px !important;
    padding-bottom: 25px !important;

    h2, h3, h4, h5, h6 {
        line-height: 1.4em;
        margin-bottom: 15px;
    }

    p {
        margin-bottom: 30px;
        line-height: 1.8em;
    }

    time {
        display: block;
        margin: 20px 0;
        color: #AAA;
    }

    pre + h3 {
        margin-top: 35px;
    }

    ul, ol {
        margin: 0 0 30px 40px;
        line-height: 1.8em;
    }

    pre {
        margin-bottom: 20px;
        overflow: hidden;
    }

    figure {
        display: block;
        margin-bottom: 20px;
        text-align: center;

        img.shadow {
            -moz-box-shadow: 0 0 10px #888;
            -webkit-box-shadow: 0 0 10px #888;
            box-shadow: 0 0 10px #888;
        }
    }

    figcaption {
        padding: 10px 0;
        margin-bottom: 15px;
        border-bottom: 1px dotted #CCC;
        display: block;
        text-align: center;
        font-style: italic;
    }

    @media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
        img { max-width: 100%; }
        ul, ol { margin: 0 0 30px 20px; }
    }
}

/**
 * Footer.
 */

footer {
    a {
        color: #BFBFBF;
        &:hover { color: #29bdca; }
    }

    #latest-tweets {
        background: #444;
        width: 100%;
        -webkit-box-shadow: inset 0 4px 3px -3px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: inset 0 4px 3px -3px rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 4px 3px -3px rgba(0, 0, 0, 0.2);
        padding: 10px 0 10px 0;
        min-height: 150px;

        #tweets {
            min-height: 30px;
            margin-bottom: 0 !important;

            .tweet {
                margin-top: 10px;
                margin-bottom: 10px;
                padding: 15px;
                color: #999;
                background: #333;

                .msg {
                    font-size: 13px;
                    min-height: 60px;
                    padding-bottom: 10px;
                }

                .meta {
                    height: 20px;
                    background: url(/assets/img/twitter.png) no-repeat top left;
                    text-align: right;
                    font-size: 11px;
                    line-height: 20px;
                }
            }
        }
    }

    #details {
        font-size: 13px;
        background: #333;
        -webkit-box-shadow: inset 0 4px 3px -3px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: inset 0 4px 3px -3px rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 4px 3px -3px rgba(0, 0, 0, 0.2);
        padding: 20px 0;
        text-align: center;
        width: 100%;

        #details-wrapper {
            display: inline-block;
            margin: 0 auto;
        }

        #me, #contact {
            float: left;
        }

        #contact {
            list-style: none;
            margin: 10px 0 0 20px;

            li {
                line-height: 1.7em;

                span {
                    display: inline-block;
                    width: 50px;
                }
            }
        }
    }
}

/**
 * Responsive.
 */

@media (max-width: 767px) {
    h1, nav ul {
        text-align: center;
    }

    h3.tagline {
        display: none;
    }

    #content .post {
        border-right: 0;
        margin: 0;
        padding: 20px 10px;
        border-bottom: 1px dotted #CCC;

        &.last {
            border-bottom: 0;
        }
    }
}